<template>
  <div class="">
    <div>
      <form @submit.prevent="calculate">
        <h2 class="form-signin-heading">Please fill the form</h2>
        <div class="alert alert-danger" v-if="error">{{ error }}</div>
        <div v-if="distance != ''" class="alert alert-success" role="alert">
          Distance : {{ distance }} KM
        </div>

        <div class="form-group">
          <label for="inputPostal">Postal Address</label>
          <input v-model="postalAddress" type="text" id="inputPostal" class="form-control" placeholder="Postal Address" required autofocus>
        </div>

        <div class="form-group">
        <label for="inputIp">Ip Address</label>
        <input v-model="ipAddress" 
        pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$"
        type="text" id="inputIp" class="form-control" placeholder="Ip Address" required>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">
          <span v-if="pending" class="spinner-grow" role="status" aria-hidden="true"></span>
          Calculate
        </button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CoordinatesDistance',
  data () {
    return {
      postalAddress: '',
      ipAddress: '',
      distance: '',
      error: false,
      pending: false
    }
  },
  methods: {
  calculate () {
    this.pending = true;
    this.$http.post('/calculate-distance', { postal_address: this.postalAddress, ip_address: this.ipAddress })
      .then(request => this.calculateSuccessful(request))
      .catch(() => this.calculateFailed())
  },
  calculateSuccessful (req) {
    if (req.data.distance) {
      this.distance = req.data.distance;
      this.error = false
    }
    else {
      this.error = req.data[0].message;
    }
    this.pending = false;
  },
  calculateFailed () {
    this.error = 'Calculate failed!';
    this.pending = false;
  }
}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
