<template>
  <div id="app" class="container">
    <CoordinatesDistance/>
  </div>
</template>

<script>
import CoordinatesDistance from './components/CoordinatesDistance.vue'

export default {
  name: 'App',
  components: {
    CoordinatesDistance
  }
}
</script>

<style>
#app {

}
</style>
